<div id="content">
	<center>
	<div class="con">
		<div class="con_title">
			<span class="con_title_sp">欢迎登录系统</span>
		</div>
		<div>
			<div class="con_input">
				<span>用户名：</span><input type="text" placeholder="学号/工号" id="user"/>
			</div>
			<div class="con_input">
				<span>密&nbsp;&nbsp;&nbsp;&nbsp;码：</span><input type="text" placeholder="密码" id="pass"/>
			</div>
			<div class="con_select">
				<input type="radio" name="identity" value="学生" />学生
				<input type="radio" name="identity" value="教师" />教师
				<input type="radio" name="identity" value="管理员" />管理员
			</div>
			<input type="submit" value="登    录" class="submit-btn" onclick="Login()"/>
		</div>
	</div>
	</center>
</div>